# Requirements file for AutoSplit
#
# Python: CPython 3.9+
#
# Usage: ./scripts/install.ps1
#
# If you're having issues with the libraries, you might want to first run:
# pip uninstall -y -r ./scripts/requirements-dev.txt
#
# Creating AutoSplit executable with PyInstaller: ./scripts/build.ps1
#
# Dependencies:
numpy>=1.23 # Updated types
opencv-python-headless>=4.5.4,<4.6  # https://github.com/pyinstaller/pyinstaller/issues/6889
PyQt6>=6.2.1
ImageHash
git+https://github.com/boppreh/keyboard.git#egg=keyboard  # Updated to check for input group instead of root user
packaging
Pillow
PyAutoGUI
requests
certifi
toml
psutil
git+https://github.com/Avasam/PyWinCtl.git@getTopWindowAt#egg=PyWinCtl # https://github.com/Kalmat/PyWinCtl/pull/22
#
# Build and compile resources
PyInstaller
PySide6
