# Usage: ./scripts/install.ps1
#
# If you're having issues with the libraries, you might want to first run:
# pip uninstall -y -r ./scripts/requirements-dev.txt
#
# Dependencies
-r requirements.txt
#
# Linting and formatters
bandit
# https://github.com/PyCQA/flake8-pyi/issues/257
# https://github.com/gforcada/flake8-isort/issues/115
flake8<5 # Not supported by pyi and isort plugins
flake8-pyi>=22.7 # New checks
flake8-quotes
flake8-isort
pep8-naming
pylint>=2.13.9 # Respect ignore configuration options with --recursive=y
pyright
#
# Run `./scripts/designer.ps1` to quickly open the bundled PyQt Designer.
# Can also be downloaded externally as a non-python package
qt6-applications
# Types
git+https://github.com/Avasam/pywin32-stubs.git#egg=pywin32-stubs  # https://github.com/kaluluosi/pywin32-stubs/pull/8
types-requests
typing-extensions
