# Usage: .\scripts\install.bat
#
# If you're having issues with the libraries, you might want to first run:
# pip uninstall -y -r .\scripts\requirements-dev.txt
#
# Dependencies
-r requirements.txt
#
# Linting and formatters
bandit
isort
flake8
flake8-pyi>=22.7 # New checks
flake8-quotes
flake8-isort
pep8-naming
pylint>=2.13.9 # Respect ignore configuration options with --recursive=y
# Types
types-requests
typing-extensions
#
# You can comment this out if you don't want to run `designer.bat` to quickly open the bundled PyQt Designer.
# Can also be downloaded externally as a non-python package
qt6-applications
