# Usage: .\scripts\install.bat
#
# If you're having issues with the libraries, you might want to first run:
# pip uninstall -y -r .\scripts\requirements-dev-win32.txt
#
# Dependencies
-r requirements.txt
# Windows-only dependencies:
pygrabber
winsdk>=v1.0.0b4
git+https://github.com/ranchen421/D3DShot.git#egg=D3DShot  # https://github.com/SerpentAI/D3DShot/issues/44
