# Usage: .\scripts\install.bat
#
# If you're having issues with the libraries, you might want to first run:
# python3 -m pip uninstall -y -r .\scripts\requirements-dev.txt
#
# Dependencies
-r requirements.txt
#
# Linting and formatters
bandit
isort
flake8
flake8-pyi>=22.7 # New checks
flake8-quotes
flake8-isort
pep8-naming
pylint>=2.13.9 # Respect ignore configuration options with --recursive=y
pyright
#
# Run `designer.bat` to quickly open the bundled PyQt Designer.
# Can also be downloaded externally as a non-python package
qt6-applications
# Types
types-requests
typing-extensions
#
# https://peps.python.org/pep-0508/#environment-markers
#
# Windows-only type stubs
git+https://github.com/Avasam/pywin32-stubs.git#egg=pywin32-stubs ; sys_platform == 'win32' # https://github.com/kaluluosi/pywin32-stubs/pull/8

