# Requirements file for AutoSplit
#
# Python: CPython 3.9+
#
# Usage: ./scripts/install.ps1
#
# If you're having issues with the libraries, you might want to first run:
# pip uninstall -y -r ./scripts/requirements-dev.txt
#
# Creating AutoSplit executable with PyInstaller: ./scripts/build.ps1
#
# Dependencies:
numpy>=1.22.0rc1,<1.23 # Type issue
opencv-python-headless>=4.5.4,<4.6  # https://github.com/pyinstaller/pyinstaller/issues/6889
PyQt6>=6.2.1
ImageHash
keyboard
packaging
Pillow
pyautogui
requests
certifi
toml
psutil
typing-extensions
#
# Build and compile resources
PyInstaller
PySide6
